<div class="row justify-content-between align-items-center py-5">
    <div class="col-12 col-md-5 order-2 order-md-1">
        <h1 class="display-4">Win medals</h1>
        <p class="large mb-4">Separated they live in Bookmarks right at the coast of the famous Semantics, large
            language ocean Separated they live in Bookmarks right</p>
        <div class="row align-items-center">
            <div class="col-12 col-md-5 mb-2 mb-md-0"><a class="btn btn-block btn-lg btn-primary" href="">Action</a>
            </div>
            <div class="col-12 col-md-7 text-center text-md-left">
                <div class="small ml-md-6">Separated they live in Books,<br />but sometimes.&nbsp;<a href=""><span>Learn
                            more</span></a></div>
            </div>
        </div>
    </div>
    <div class="col-12 col-md-6 order-1 order-md-2 pl-md-0 mb-4 mb-md-0"><img class="w-100"
            src="{{ 'assets/pictures/some-555x380.png' | relative_url }}" /></div>
</div>
