---
layout: compress
---

{% assign cached_version = site.time | date: '%s%U' %}
<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <meta http-equiv="X-UA-Compatible" content="ie=edge" />
  <link rel="stylesheet" href="{{ 'css/main.css?' | append: cached_version | relative_url }}" />

  <link rel="apple-touch-icon" sizes="180x180" href="{{'/apple-touch-icon.png' | relative_url}}">
  <link rel="icon" type="image/png" sizes="32x32" href="{{'/favicon-32x32.png' | relative_url}}">
  <link rel="icon" type="image/png" sizes="16x16" href="{{'/favicon-16x16.png' | relative_url}}">
  <link rel="manifest" href="{{'/site.webmanifest' | relative_url}}">
  <link rel="mask-icon" href="{{'/safari-pinned-tab.svg' | relative_url}}" color="#5bbad5">
  <meta name="msapplication-TileColor" content="#ffffff">
  <meta name="theme-color" content="#ffffff">

  {% seo %}
  <meta property="og:image:width" content="1200">
  <meta property="og:image:height" content="628">

  <link rel="preconnect" href="https://www.google.com">
  <link rel="preconnect" href="https://www.gstatic.com" crossorigin>

  <!-- Google tag (gtag.js) -->
  <script async src="https://www.googletagmanager.com/gtag/js?id=G-WECG66K1FG"></script>
  <script>
    window.dataLayer = window.dataLayer || [];
    function gtag() { dataLayer.push(arguments); }
    gtag('js', new Date());

    gtag('config', 'G-WECG66K1FG');
  </script>
</head>

<body>
  <div class="container">
    {% comment %}
    {% include menu.html %}
    {% endcomment %}

    <div class="text-center p-2">
      <img width="64" height="64" src="{{ '/medaltraveler.png' | relative_url }}" alt="Medaltraveler.com">
    </div>

    {{ content }}
  </div>

  <script defer src="https://www.google.com/recaptcha/api.js"></script>
  <!-- <script defer src="https://code.jquery.com/jquery-3.3.1.min.js" integrity="sha256-FgpCb/KJQlLNfOu91ta32o/NMZxltwRo8QtmkMRdAu8=" crossorigin="anonymous"></script> -->
  <script defer src="{{'/js/axios.min.js' | relative_url }}"></script>
  <script defer src="{{'/js/swiper.min.js' | relative_url }}"></script>
  <!-- <script defer src="{{'/js/bootstrap.bundle.min.js' | relative_url }}"></script> -->
  <script defer src="{{'/js/app.js?' | append: cached_version | relative_url }}"></script>
</body>

</html>
